<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<title>Cooks HTML Template</title>

  

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
                             
  

  <%= csrf_meta_tags %>
  





</head>
<body>
  
  <!--Control Bar Start-->
<div id="controls-wrapper" class="load-item">
<div id="controls">			
    <ul id="slide-list"></ul>			
</div>
</div>
<!--Control Bar End-->

<!--Logo Start-->

	<h1>Perú Pedido</h1>
    <h4>Más de 50 restaurantes con delivery en Lima</h4>

<!--Logo End-->

<!--Menu Start-->
<nav class="menu nav_wrapper" id="myslidemenu">
    <ul class="menu" id="jqueryslidemenu">
        <li class="current"><a href="/index"><i class="fa fa-home"></i>Inicio</a></li>
          <li><a href="/restaurante"><i class="fa fa-cutlery"></i>Restaurantes</a>
          
          <% if user_signed_in?  %>
 
  <li><%= link_to "Perfil", new_user_registration_path%></li>
  <li><%= link_to "Pedidos", new_user_registration_path%></li>
   <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
  <% else %>
  
  	<li><%= link_to "Registrate", new_user_registration_path%></li>
	 <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
                     <% end  %>
		
               <li><a href="contact.html"><i class="fa fa-comments"></i>Contáctenos</a></li>
   
             
               
        

	
		 
		
    </ul>
</nav>
 <% if user_signed_in?  %>
 
 
<%= link_to "Cerra Sesión", destroy_user_session_path, method: :delete %>
                     <% end  %>
<!--Menu End-->


<!--Intro Text Start-->



  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
